.newsletter {
  margin-bottom: $section-bottom;
  @include tablet() {
    display: flex;
  }

  &__title {
    @include subTitleText($font-secondary);
    margin-bottom: $sub-title-bottom;

    @include tablet() {
      margin-bottom: 0;
      margin-right: 3em;
    }
  }
  &__offer {
    margin-bottom: 2em;

    @include tablet() {
      margin-bottom: 0;
      margin-right: 1em;
    }
  }
  &__container {
    &__email {
      width: 100%;
      &__form {
        &--input {
          @include formReset();
          width: 100%;

          border: $link-underline;
          padding: 0.4em 0.6em;

          margin-right: 1em;
        }
        &--input:focus {
          outline: none;
        }
        &--button {
          display: inline-block;
          border: $link-underline;
          background-color: $black;
          color: $white;
          padding: 0.6em 1em;
        }

        display: flex;
      }
    }
  }
}
