.shop {
  margin-top: 94.39px;
  &__header {
    margin-bottom: 2em;
    @include tablet() {
      display: flex;
      justify-content: space-between;
    }
    &__container {
      @include tablet() {
        display: none;
      }
    }
    &__title {
      @include subTitleText($font-secondary);
      margin-bottom: 1em;
    }
    &__text {
      margin-bottom: 2em;
      @include tablet() {
        margin-bottom: 0;
      }
    }
  }
  &__aside {
    &__container {
      @include tablet() {
        display: none;
      }
    }
    &__filter {
      display: inline-block;
    }
    &__filter--arrow {
      display: relative;
      width: 1px;
      height: 1px;
    }
    &__filter--arrow::after {
      content: " ";
      display: inline-block;
      width: 6px;
      height: 6px;
      border-right: $link_underline;
      border-bottom: $link_underline;
      margin-left: 0.5rem;
      transform: rotate(45deg);
      position: absolute;
      top: 6px;
    }
    &__list {
      @include tablet() {
        display: flex;
      }
      &__item {
        margin-bottom: 1em;
      }
    }
  }
}
