html {
  height: 100%;
}

body {
  min-height: 100%;
}

html,
body {
  background: $white;
  color: $black;
  font-family: $font-primary;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
