.quantity-btn {
  display: flex;
  width: 100%;
  padding: 0.8em 1em;
  border: $link-underline;
  justify-content: space-between;

  &--arithmetic {
    @include squareSizing(16px);

    &:hover {
      cursor: pointer;
    }
  }
  &__amount {
    flex-grow: 4;
    text-align: center;
  }
}
