//container

.section {
  width: 90%;
  margin: 0 auto;
  min-height: 1000px;
  @include desktop() {
    max-width: 1600px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
