.hero {
  background-image: $backdrop, url("../../asset/hero.jpg");
  background-size: cover;

  height: 100vh;
  @include flexCenter(column);
  scroll-behavior: smooth;

  &__content {
    padding: 0 1em;
    color: white;
    &__title {
      @include titleText();

      font-family: $font-secondary;
      margin-bottom: 1.5em;
      max-width: 700px;
    }

    &__collection {
      display: flex;
      justify-content: center;
      @include pointerOnHover();

      &--text {
        padding: 1em;
        background-color: $white;
        border: 1px $grey solid;
        color: $black;
      }
      &--container {
        width: 50px;
        height: 51px;

        background-color: white;
        border: 1px $grey solid;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &--img {
        width: 50%;
        height: 50%;
      }
    }
    &__arrow {
      position: absolute;
      bottom: 0;

      &:hover {
        cursor: pointer;
      }
      &--img {
        height: 54px;
        width: 54px;
      }
    }
  }
}
