.menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  z-index: 99;
  background-color: $white;
  border-left: $link-underline;
  font-family: $font-secondary;
  &__header {
    @extend .nav;

    &__container {
      @extend .nav__container--3;

      &--2 {
        width: 70px;
        padding: 22px;
        border-right: $link-underline;
        background-color: $white;
      }
    }
  }

  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    padding: 1em 2em;

    &__wrapper {
      @extend .cart__body__wrapper;
    }
    &__container {
      display: flex;
      align-items: center;
    }

    &__search {
      margin-right: 1em;
      &--arrow {
        width: 12px;
        height: 12px;
        display: inline-block;
      }
    }
  }
}
