.nav {
  display: flex;

  justify-content: space-between;
  width: 100%;
  height: 70px;

  border-bottom: $link-underline;

  &__container {
    display: flex;
    width: 100%;
    &--2 {
      width: 70px;
      padding: 22px;
      border-right: $link-underline;
    }
    &--3 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--4 {
      width: 70px;
      padding: 22px;
      border-left: $link-underline;
    }
  }
  &__logo {
    width: 200px;
    height: 35.36px;
  }
}
