.specialty {
  &__container {
    height: 60vh;
    margin-bottom: $section-bottom;
  }
}
.carousel-item {
  height: 60vh;
}
.carousel-item img {
  object-fit: cover;
  height: 60vh;
}
.specialty-content {
  width: 100%;

  background-color: $maingreen;
}
.carousel-indicators li {
  background-color: $maingreen;
}
.carousel--caption {
  h3 {
    color: $grey;
    font-family: $font-primary;
  }

  p {
    color: $grey;
    font-family: $font-primary;
  }
}
