.form {
  margin-top: 6em;
  font-family: $font-primary;

  &__container {
    @include tablet() {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }
  }

  &__body {
    padding: 5em 1em;
    width: 100%;

    li {
      margin-bottom: 2em;
    }
    &__or {
      font-family: $font-secondary;
      font-size: $font-large;
      display: flex;
      justify-content: center;

      @include tablet() {
        flex-flow: column;
        margin: 0 1em;
      }
    }
    &__register {
      margin: 0;
      width: 100%;

      @extend .form__body;
      &--title {
        font-family: $font-secondary;
        margin-bottom: 2em;
      }
    }
  }

  &__signIn {
    @extend .product__detail__add;
    &--title {
      font-family: $font-secondary;
    }
  }

  &__submit {
    &__btn {
      @extend .product__detail__add;
      background-color: $maingreen;
    }
  }
  &__email {
    &--input {
      appearance: none;
      background: none;
      width: 100%;
      border: 1px solid black;

      &:focus {
        outline: none;
      }
    }
  }
  &__password {
    &--input {
      @extend .form__email--input;
    }
  }
  &--input {
    @extend .form__email--input;
  }
  &__title {
    @extend .form__signIn--title;
    margin-bottom: 2em;
  }

  &--entry {
    margin-bottom: 1em;
    &--confirmPw {
      margin-bottom: 3em;
    }
    &--register {
      margin-bottom: 3em;
    }
    &--country {
      margin-bottom: 3em;
    }
  }
  &--paypal {
    margin-bottom: 3em;
  }
  &__profile {
    &__container {
      max-width: 800px;
      margin-bottom: 3em;
    }
  }
  &__create {
    display: flex;
    flex-flow: row;
    align-items: center;
    @extend .form__profile__container;

    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
    &--arrow {
      @extend .menu__body__search--icon;
    }
    &--btn {
      margin-bottom: 0;
      margin-right: 1em;

      &:hover {
        color: $maingreen;
        cursor: pointer;
      }
    }
    &__body {
      margin-bottom: 3em;
      max-width: 500px;
    }
  }
  &__update {
    @extend .form__signIn;
    margin-bottom: 1em;
  }
  &__back {
    @extend .form__signIn;
    background-color: white;
    color: black;
    border: 1px black solid;
  }
  &__product {
    &__table {
      overflow: scroll;
    }
  }
  &__orders {
    &__body {
      overflow: scroll;
    }
  }
}

.table {
  tbody {
    tr:nth-child(even) {
      background-color: rgb(238, 238, 238);
    }
  }
}
