/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class],
ul,
li {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

select {
  border: 1px solid black;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

html,
body {
  background: white;
  color: #202020;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.show {
  display: contents;
}

.hide {
  display: none;
}

.flip {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.transition {
  -webkit-transition-duration: ease;
          transition-duration: ease;
  -webkit-transition-timing-function: 300ms;
          transition-timing-function: 300ms;
}

.section {
  width: 90%;
  margin: 0 auto;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-nav__logo-img {
  width: 60%;
  z-index: 999;
}

.main-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__container--link {
  font-family: "Montserrat", sans-serif;
  margin-left: 1em;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../../asset/hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../asset/hero.jpg");
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: auto;
  padding: 0 1em;
  color: white;
}

.hero__content__title {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 600;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Crimson Text", serif;
  margin-bottom: 1.5em;
  max-width: 700px;
}

.hero__content__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content__collection--text {
  padding: 1em;
  background-color: white;
  border: 1px #5f5f5f solid;
  color: #202020;
}

.about {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10em;
}

.about__body__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 3rem;
  padding: 4em 0;
  font-family: "Crimson Text", serif;
  text-align: center;
  place-items: center;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .about__body__title {
    max-width: 678px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .about__body__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.about__body__main__image {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .about__body__main__image {
    width: 40vw;
    height: 1000px;
  }
}

.about__body__main__text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2em;
  margin: 2em 0;
  max-width: 370px;
}

.about__body__main__link {
  display: inline-block;
  padding: 0.5em 0;
  border-bottom: 1px #202020 solid;
}

.about__body__main__container {
  display: block;
  margin-bottom: 5em;
}

@media screen and (min-width: 768px) {
  .about__body__main__container--2 {
    padding-top: 14em;
  }
}

.specialty__container {
  height: 60vh;
  margin-bottom: 10em;
}

.carousel-item {
  height: 60vh;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 60vh;
}

.specialty-content {
  width: 100%;
  background-color: #6e9b86;
}

.carousel-indicators li {
  background-color: #6e9b86;
}

.carousel-caption {
  color: #5f5f5f;
  font-family: "Montserrat", sans-serif;
}

.sub-title {
  font-family: "Crimson Text", serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 3em;
}

.testimonial {
  width: 100%;
  height: 50vh;
  background: #f2fffa;
  background-image: url("../../asset/testimonial.svg");
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-bottom: 10em;
}

.testimonial__card {
  width: 80%;
  height: 80%;
  -webkit-box-shadow: 0px 0px 29px 4px #999999;
          box-shadow: 0px 0px 29px 4px #999999;
  padding: 0 2em;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 999;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .testimonial__card {
    padding: 0 4em;
  }
}

.testimonial__card__body {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2em;
  font-family: "Crimson Text", serif;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .testimonial__card__body {
    font-size: 1.5em;
    font-weight: 300;
  }
}

.newsletter {
  margin-bottom: 10em;
}

@media screen and (min-width: 768px) {
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.newsletter__title {
  font-family: "Crimson Text", serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 3em;
}

@media screen and (min-width: 768px) {
  .newsletter__title {
    margin-bottom: 0;
    margin-right: 3em;
  }
}

.newsletter__offer {
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .newsletter__offer {
    margin-bottom: 0;
    margin-right: 1em;
  }
}

.newsletter__container__email {
  width: 100%;
}

.newsletter__container__email__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter__container__email__form--input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  color: white;
  width: 100%;
  border: 1px #202020 solid;
  padding: 0.4em 0.6em;
  margin-right: 1em;
}

.newsletter__container__email__form--input:focus {
  outline: none;
}

.newsletter__container__email__form--button {
  display: inline-block;
  border: 1px #202020 solid;
  background-color: #202020;
  color: white;
  padding: 0.6em 1em;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__logo {
  margin-bottom: 5em;
}

.footer__logo--image {
  width: 200px;
}

@media screen and (min-width: 768px) {
  .footer__logo--image {
    width: 160px;
  }
}

.footer__link {
  height: 40px;
}

@media screen and (min-width: 768px) {
  .footer__link {
    width: 200px;
  }
}

.footer__links {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(2, 1fr);
  margin-bottom: 5em;
}

.shop {
  margin-top: 94.39px;
}

.shop__header {
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .shop__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.shop__header__container {
  width: 70%;
}

.shop__header__container--2 {
  height: 36px;
}

@media screen and (min-width: 768px) {
  .shop__header__container--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shop__header__title {
  font-family: "Crimson Text", serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 1em;
}

.shop__header__text {
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .shop__header__text {
    margin-bottom: 0;
  }
}

.shop__header__sort {
  margin-right: 1em;
}

@media screen and (min-width: 768px) {
  .shop__header__sort {
    margin-bottom: 0;
  }
}

.shop__header__select {
  padding: 0.5em 1em;
}

.shop__aside {
  margin-bottom: 3em;
}

@media screen and (min-width: 768px) {
  .shop__aside {
    width: 20%;
    margin-right: 2em;
  }
}

.shop__aside__container {
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .shop__aside__container {
    display: none;
  }
}

.shop__aside__filter {
  display: inline-block;
  margin-right: 0.6em;
}

.shop__aside__filter--arrow {
  width: 10px;
  height: 10px;
  display: inline-block;
  padding-top: 0.2em;
}

@media screen and (min-width: 768px) {
  .shop__aside__list {
    display: contents;
  }
}

.shop__aside__list__item {
  margin-bottom: 1em;
}

.shop__section {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .shop__section {
    display: -ms-grid;
    display: grid;
    grid: auto/repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
}

.shop__body__container {
  margin-bottom: 10em;
}

@media screen and (min-width: 768px) {
  .shop__body__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.product__card {
  margin-bottom: 2em;
}

.product__card__image {
  width: 100%;
  max-height: 414px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .product__card__image {
    max-height: 185px;
  }
}

.product__card__name {
  color: #202020;
  margin-bottom: 0.5em;
}

.product__card__price {
  color: #5f5f5f;
}

.product {
  margin-bottom: 10em;
}

@media screen and (min-width: 768px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product .product__card:first-child {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .product {
    margin-bottom: 0;
  }
}

.product__detail {
  margin-bottom: 10em;
}

@media screen and (min-width: 768px) {
  .product__detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.product__detail__container {
  margin-bottom: 3em;
}

@media screen and (min-width: 768px) {
  .product__detail__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: 46%;
  }
}

.product__detail__container--2 {
  width: 70%;
}

@media screen and (min-width: 768px) {
  .product__detail__container--2 {
    width: 46%;
    padding-left: 6rem;
    margin-top: 3rem;
    margin-right: 3rem;
  }
}

.product__detail__container--3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.product__detail__container--4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.8em 1em;
  border: 1px #202020 solid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__detail__name {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  font-family: "Crimson Text", serif;
  margin-bottom: 14px;
}

.product__detail__price {
  color: #5f5f5f;
  font-size: 18px;
  margin-bottom: 1.125rem;
}

.product__detail__quantity {
  font-size: 1.2rem;
  margin-right: 1em;
}

.product__detail__arithmetic {
  width: 16px;
  height: 16px;
}

.product__detail__amount {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  text-align: center;
}

.product__detail__add {
  width: 100%;
  padding: 0.8em 1em;
  text-align: center;
  background-color: #202020;
  color: white;
}
/*# sourceMappingURL=main.css.map */